<template name="infoTable">
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="33%">Assigned Users</th>
        <th width="33%">Tags</th>
        <th width="33%">Attachments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{#if admin}}
          <div class="assign-user-field">
            <span class="icon glyphicon glyphicon-plus"></span>
            <input type="text" name="assignUser" placeholder="Assign User" data-toggle="tooltip" data-trigger="manual" title="User not found.">
          </div>
          {{/if}}
          {{#each associatedUserIds}}
          {{> userPortrait userId=this associated=true class="user-image"}}
          {{/each}}
        </td>
        <td>
          {{#if admin}}
            {{#each tags}}
              {{>tag}}
            {{/each}}
          {{else}}
            {{#each tags}}
              {{this}}
            {{/each}}
          {{/if}}
        </td>
        <td>
          {{#each attachmentIds}}
          <img style="max-width: 64px; max-height:24px;" src="/file/{{file.thumbnail}}" />
          <a data-action="downloadAttachment" href="/file/{{file.filenameOnDisk}}">{{file.filename}}</a><br />
          {{/each}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
</template>
