<template name="noteInput">
<div class="form-group">
  <div class="col-xs-12 col-md-10 col-md-offset-2">
    <div class="input-group">
      {{#if admin}}
      {{> inputAutocomplete name="newNoteAdmin" class="form-control" placeholder="Add a new note..." settings=settings data-ticket=_id }}
      {{else}}
      <input class="form-control" placeholder="Add a new note..." name="newNote" data-ticket="{{_id}}">
      {{/if}}
      <div class="input-group-btn">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="False">Attach File <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a data-action="uploadFile">Upload File</a></li>
          <li><a href="#">Take Picture</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</template>
