.tag { 
  display: inline-block; 
  position: relative; 
} 
 
.tag .remove-tag { 
  position: absolute; 
  display: block; 
  border: 1px solid; 
  left: 50%; 
  z-index: 9999; 
  width: 5em;
  background: rgba(255, 255, 255, 0.9); 
  padding: 2px 4px 2px 4px; 
  visibility: hidden; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
} 
 
.tag:hover .remove-tag { 
  visibility: visible; 
} 
