.assign-user-field{
  width: 200px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.assign-user-field input{
  width: 40px;
  height: 40px;
  background: #005DAA;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
  
}

.assign-user-field input::-webkit-input-placeholder {
   color: #ccc;
}
.assign-user-field input:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}
.assign-user-field input::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}
.assign-user-field input:-ms-input-placeholder {  
   color: #ccc;  
}

.assign-user-field .icon{
  position: absolute;
  top: 50%;
  margin-left: 14px;
  margin-top: 12px;
  z-index: 1;
  color: #ddd;
}

.ticket-requester-portrait{
  float: left;
  text-align: center;
  padding-right: 5px;
  max-height: 24px;
  width: 40px;
}

  /* ANIMATION EFFECTS */
.assign-user-field input:focus, .assign-user-field input:active{
  ientCount: ->
  outline:none;
}
  .assign-user-field input:hover, .assign-user-field input:focus {
    outline:none; 
    width: 200px;
  }
  .assign-user-field:hover .icon{
    color: #fff;
  }

.ticket-status-input {
  padding-left: 20px;
  padding-right: 5px;
}

blockquote { 
  background: #ffffff;
  border: 2px solid #ccc;
}

.ticket-row-panel-body {
  bottom: 0px;
}

.ticket-row-panel {
  margin-bottom: 0px;
  border-bottom: none;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  bottom: 0px;
}
.tag { 
  display: inline-block; 
  position: relative; 
} 
 
.tag .remove-tag { 
  position: absolute; 
  display: block; 
  border: 1px solid; 
  top: 17px;
  left: 20%; 
  z-index: 9999; 
  width: 4.4em;
  background: rgba(255, 255, 255, 0.9); 
  padding: 2px 4px 2px 4px; 
  visibility: hidden; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
} 
 
.tag:hover .remove-tag { 
  visibility: visible; 
} 
