<template name="ticketRow">
<tr data-toggle="collapse" data-target="#row{{_id}}" class="accordion-toggle">
  <td>
    <span class="glyphicon glyphicon-plus" name="{{_id}}"></span>
    {{#if repliedTo}}
    <span class="glyphicon glyphicon-comment"></span>
    {{/if}}
  </td>
  <td>{{title}}</td>
  <td>{{authorName}}</td>
  <td>
    <div class="dropdown" data-ticket="{{_id}}">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" name="statusButton" aria-expanded="false">{{status}}<span class="caret"></span></button>
      <ul class="dropdown-menu" name="statusMenu" role="menu" aria-labelledby="ticketStatusDropdown">
        <li role="presentation"><a role="menuitem" tabindex="-1">Open</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1">Closed</a></li>
        <li role="presentation" class="ticket-status-input"><input type="text" name="customStatus" placeholder="Or a custom status"></li>
      </ul>
    </div>
  </td>
  <td>{{>dateFormatter date=submittedTimestamp}}</td>
</tr>
<tr>
  <td colspan='5' class="hiddenRow">
    <div class="accordion-body collapse" id="row{{_id}}" name="{{_id}}">
      <div class="col-xs-12 col-md-12">
          <blockquote>
            {{body}}
          </blockquote>

          <div class="row">
            <div class="col-xs-4 col-md-4">
              <div class="assign-user-field">
                <span class="icon glyphicon glyphicon-plus"></span>
                <input type="text" name="assignUser" placeholder="Assign User" data-toggle="tooltip" data-trigger="manual" title="User not found.">
              </div>
              {{#each associatedUserIds}}
              {{> userPortrait userId=this}}
              {{/each}}
            </div>
            <div class="col-xs-4 col-md-4">
              {{#each tags}}
              <a href="{{paramTag}}">{{this}}</a>
              {{/each}}
            </div>
            <div class="col-xs-4 col-md-4">
              Files?
            </div>
          </div>

          <hr/>

          {{#each notes}}
          <div class="row">
            <div class="col-xs-4 col-md-2">
              <label for="note-{{_id}}" class="control-label pull-right">
                {{> userPortrait userId=authorId}}
                <small style="font-size: 0.7em; font-weight: lighter;">{{>timeParser date=timestamp}}</small>
              </label>
            </div>
            <div class="col-xs-8 col-md-10">
              <div class="well well-sm" style="text-align: left;">{{message}}</div>
            </div>
          </div>
          {{/each}}

          <div class="form-group">
            <div class="col-xs-12 col-md-10 col-md-offset-2">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default">@</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">#</a></li>
                    <li><a href="#">Note to Author or something</a></li>
                  </ul>
                </div>
                <input class="form-control" name="newNote" placeholder="Add a new note...">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="False">Attach File <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a data-action="uploadFile">Upload File</a></li>
                    <li><a href="#">Take Picture</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="hidden-xs col-md-12">
        {{#each attachmentIds}}
        <a href="/file/">{{this}}</a>
        {{/each}}
        {{#each arrayify formFields}}
        {{>tableFormGroup name=name value=value disabled="disabled"}}
        {{/each}}
      </div>
    </div>
  </td>
</tr>
</template>
