<template name="ticketRow">
  <tr data-toggle="collapse" data-target="#row{{_id}}" class="accordion-toggle ticket-row" data-ticket="{{_id}}">
    <td class="hidden-xs">
      <span name="plusminus" class="glyphicon glyphicon-plus"></span>
      {{#if repliedTo}}
        <span class="glyphicon glyphicon-comment"></span>
      {{/if}}
      {{#if hasAttachment}}
        <span class="glyphicon glyphicon-paperclip"></span>
      {{/if}}
      {{#if unread}}
        <span class="glyphicon glyphicon-bell"></span>
      {{/if}}
    </td>
    <td>{{title}}</td>
    <td>
      <div class="ticket-requester-portrait">
        {{>userPortrait userId=this.authorId class="in-row"}}
      </div>
      {{authorName}}
    </td>
    <td class="hidden-xs">
      {{#each associatedUserIds}}
        {{>userPortrait userId=this associated=true class="in-row"}}
      {{/each}}
    </td>
    <td>
      {{#if queueMember}}
        <div class="dropdown" data-ticket="{{_id}}">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" name="statusButton" aria-expanded="false">{{status}}<span class="caret dropdown-toggle"></span></button>
          <ul class="dropdown-menu" name="statusMenu" role="menu" aria-labelledby="ticketStatusDropdown">
            <li role="presentation"><a role="menuitem" tabindex="-1">Open</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1">Closed</a></li>
            <li role="presentation" class="ticket-status-input"><input type="text" name="customStatus" placeholder="Or a custom status"></li>
          </ul>
        </div>
        {{else}}
        {{status}}
      {{/if}}
    </td>
    <td>{{>timeFromNow date=submittedTimestamp}}</td>
  </tr>

  <!-- Expandable Ticket Area -->
  <tr>
    <td colspan='6' class="hiddenRow">
      <div class="accordion-body collapse ticket-collapse" id="row{{_id}}" data-ticket="{{_id}}">
        <div class="row">
          <div class="col-md-3 ticket-sidebar">
            {{> ticketSidebar}}
          </div>

          <div class="col-md-9 ticket-note-area">
            {{#if formFields}}
              {{> formFieldsPanel}}
            {{/if}}
            <div class="row">
              <blockquote>
                {{#each bodyParagraph}}
                  <p>{{this}}</p>
                {{/each}}
              </blockquote>
            </div>

            {{> ticketNoteArea}}
          </div>
        </div>
      </div>
    </td>
  </tr>

</template>
