.assign-user-field{
  width: 200px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.assign-user-field input{
  width: 40px;
  height: 40px;
  background: #005DAA;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
  
}

.assign-user-field input::-webkit-input-placeholder {
   color: #ccc;
}
.assign-user-field input:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}
.assign-user-field input::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}
.assign-user-field input:-ms-input-placeholder {  
   color: #ccc;  
}

.assign-user-field .icon{
  position: absolute;
  top: 50%;
  margin-left: 14px;
  margin-top: 12px;
  z-index: 1;
  color: #ddd;
}

.ticket-requester-portrait{
  float: left;
  text-align: right;
  padding-right: 5px;
  max-height: 24px;
  width: 40px;
}

  /* ANIMATION EFFECTS */
.assign-user-field input:focus, .assign-user-field input:active{
    outline:none;
}
  .assign-user-field input:hover, .assign-user-field input:focus {
    outline:none; 
    width: 200px;
  }
  .assign-user-field:hover .icon{
    color: #fff;
  }

.ticket-status-input {
  padding-left: 20px;
  padding-right: 5px;
}
