{
  "ldap": {
    "serverDn": ["DC=ad,DC=uky,DC=edu", "DC=mc,DC=uky,DC=edu"],
    "serverUrl": "ldap://gc.ad.uky.edu:3268",
    "whiteListedFields": [ "displayName", "givenName", "department", "employeeNumber", "mail", "title", "address", "phone", "memberOf", "physicalDeliveryOfficeName"],
    "autopublishFields": [ "displayName", "givenName", "department", "mail", "title", "address", "phone", "memberOf", "physicalDeliveryOfficeName"]
  },
  "queues": [
    {"name": "New", "securityGroups": ["SGASHive"]},
    {"name": "Finance", "securityGroups": ["UKASSomething"]},
    {"name": "Design", "securityGroups": ["SGASSoftwareDevelopers", "SGASHive"]},
    {"name": "Web", "securityGroups": ["SGASHive", "SGASSoftwareDevelopers"]},
    {"name": "Help Desk", "securityGroups": ["SGASHive"]},
    {"name": "App Dev", "securityGroups": ["SGASHive"]},
    {"name": "Video", "securityGroups": ["SGASHive"]},
    {"name": "Triage Meta", "securityGroups": ["SGASHive"]}
  ],
  "ldapDummy": {
    "username": "username",
    "password": "password"
  },
  "remoteWhitelist": [
    "127.0.0.1"
  ],
  "public": {
    "pageLimitDefault": 20,
    "pageLimitIncrement": 20,
    "beta": true
  },
  "email": {
    "fromEmail": "triage@place.edu"
  },
  "departmentManagers": {
    "Statistics": "mdpadd2",
    "Sociology": "jlco223"
  }
}
