<template name="queue">
<div class="col-xs-12 col-sm-10">
  {{#if alpha}}
  <div class="row">
    <div class="alert alert-warning">
      Triage is currently an <strong>alpha</strong> product. Some features may not yet be implemented and some bugs may be present. 
      In the meantime, feel free to use Triage however you like - any attempts to break features are welcomed. 
      Please submit any feature requests, bug reports, or comments to the "App Dev" queue with the "Triage" tag.
    </div>
  </div>
  {{/if}}
  <div class="row">
    {{#unless connected}}
    <div class="alert alert-danger">
      <strong>You are not currently connected. Any changes you make may not be saved.</strong>
    </div>
    {{/unless}}
    <div class="pull-left">
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#ticketModal">Add New Ticket</button>
      <button class="btn btn-success" type="button" data-action="openQuickAdd">Quick Add Ticket</button>
    </div>
    <div class="pull-right">
      {{#each members}}
      {{>userPortrait userId=this class="user-image" fadeIfOffline=true}}
      {{/each}}
    </div>
  </div>
  {{#if addingTicket}}
  <hr>
  <div class="row top-buffer">
    <div class="col-sm-6">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="body" class="col-sm-1 control-label">Title:</label>
          <div class="col-sm-11">
            {{>inputAutocomplete settings=settings name="newTicket" class="form-control"}}
          </div>
        </div>
        {{#if psuedoqueue}}
        <div class="form-group">
          <label for="queue" class="col-sm-1 control-label">Queue:</label>
          <div class="col-sm-11">
            <select name="queue" class="form-control" data-placeholder="Select queue">
              {{#each queues}}
              <option value="{{name}}" {{selected}}>{{name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{/if}}
  <div class="row">
    <hr class="half-padding">
    <div class="pull-right">
      <strong>{{firstVisibleTicket}}-{{lastVisibleTicket}}</strong> of <strong>{{getPublishedCount 'ticketCount'}}</strong> 
      <div class="btn-group">
        <button type="button" class="btn btn-default" data-action="lastPage" {{lastDisabled}}><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button type="button" class="btn btn-default" data-action="nextPage" {{nextDisabled}}><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
  </div>
  <hr class="half-padding">
  {{#if ready}}
  <div class="row">
    <table name="ticketTable" class="table table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
          <th class="col-md-1 hidden-xs">&nbsp;</th>
          <th class="col-md-4">Subject</th>
          <th class="col-md-2">Requester</th>
          <th class="col-md-2 hidden-xs">Associated Users</th>
          <th class="col-md-1">Status</th>
          <th class="col-md-2">Submitted</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
        {{#if noTickets}}
        <tr>
          <td colspan='6'>
            {{#if search}}
            No tickets match your current search. <a href='#' data-action='clearSearch'>Clear your search?</a>
            {{else}}
            No tickets found.
            {{/if}}
          </td>
        </tr>
        {{/if}}
        {{#each tickets}}
        {{>ticketRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
    {{> loading}}
  {{/if}}
  </div>

<div class="col-sm-2 hidden-xs">
  {{> sidebar data=tickets}}
</div>
</template>
