<template name="queue">
  <div class="col-xs-12 col-sm-10">
    <!--[if lt IE 10]>
    <div class="row">
      <div class="alert alert-danger">
        You are using an outdated browser. Some features of Triage may not work or may work in unexpected ways.
        Triage performs best in Chrome, Firefox, Safari, or Internet Explorer 10 or newer.
      </div>
    </div>
    <![endif]-->
    <div class="row">
      {{#unless connected}}
        <div class="alert alert-danger">
          <strong>You are not currently connected. Any changes you make may not be saved.</strong>
        </div>
      {{/unless}}
      {{#if shouldShowTicketButtons}}
        <div class="pull-left">
          <button class="btn btn-primary" type="button" data-action="showNewTicketModal">Add New Ticket</button>
          <button class="btn btn-success" type="button" data-action="openQuickAdd">Quick Add Ticket</button>
        </div>
      {{else}}
        <a href="{{submissionUrl}}"><button class="btn btn-primary">Submit a Ticket</button></a>
      {{/if}}
      <div class="pull-right hidden-xs">
        {{#each members}}
          {{>userPortrait userId=this class="queue-user-image" fadeIfOffline=true}}
        {{/each}}
      </div>
    </div>
    {{#if addingTicket}}
      <hr>
      <div class="row top-buffer">
        <div class="form-inline">
          <div class="form-group">
            <label for="body" class="control-label">Title:</label>
            {{>inputAutocomplete settings=tokenSettings name="newTicket" class="form-control quick-add-input"}}
          </div>
          <div class="form-group">
            <label for="status" class="control-label">Status:</label>
            <input type="text" class="form-control quick-add-status-input" name="newTicketStatus" value="Open">
          </div>
          {{#if pseudoqueue}}
            <div class="form-group">
              <label for="queue" class="control-label">Queue:</label>
              <select name="queue" class="form-control" data-placeholder="Select queue">
                {{#each queues}}
                  <option value="{{name}}" {{selected}}>{{name}}</option>
                {{/each}}
              </select>
            </div>
          {{/if}}
          <button type="button" name="quickAddTicket" class="btn btn-primary">Add</button>
        </div>
      </div>
    {{/if}}
    <div class="hidden-xs">
      {{> queueSummary}}
    </div>
    <div class="hidden-sm hidden-md hidden-lg">
      {{> mobileFilter data=tickets}}
    </div>
    {{> Template.dynamic template='ticketTable'}}
  </div>
  <div class="hidden-xs col-sm-2">
    {{> sidebar data=tickets}}
  </div>
</template>

