<template name="queue">
<div class="col-xs-12 col-sm-10">
  <div class="row">
    <div class="pull-left">
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#ticketModal">Add New Ticket</button>
      <button class="btn btn-success" type="button" data-action="openQuickAdd">Quick Add Ticket</button>
    </div>
    <div class="pull-right">
      {{#each members}}
      {{>userPortrait userId=this class="user-image" fadeIfOffline=true}}
      {{/each}}
    </div>
  </div>
  {{#if addingTicket}}
  <hr>
  <div class="row top-buffer">
    <div class="col-sm-6">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="body" class="col-sm-1 control-label">Title:</label>
          <div class="col-sm-11">
            {{>inputAutocomplete settings=settings name="newTicket" class="form-control"}}
          </div>
        </div>
        {{#if psuedoqueue}}
        <div class="form-group">
          <label for="queue" class="col-sm-1 control-label">Queue:</label>
          <div class="col-sm-11">
            <select name="queue" class="form-control" data-placeholder="Select queue">
              {{#each queues}}
              <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <hr>
  {{/if}}
  <div class="row">
    <div>
      Viewing {{clientCount}} of a possible {{getPublishedCount 'ticketCount'}} tickets.
    </div>
    <table class="table table-striped table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Subject</th>
          <th>Requester</th>
          <th>Associated Users</th>
          <th>Status</th>
          <th>Submitted</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
        {{#if noTickets}}
        {{#if search}}
        No tickets match your current search. <a href='#' data-action='clearSearch'>Clear your search?</a>
        {{else}}
        No tickets found.
        {{/if}}
        {{/if}}
        {{#each tickets}}
        {{>ticketRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="col-sm-2 hidden-xs">
  {{> sidebar data=tickets}}
</div>
</template>
