<template name="ticket">
  {{#unless ticket}}
    No ticket found.
  {{/unless}}
  {{#with ticket}}
    <div class="col-md-3 ticket-sidebar" data-ticketId="{{_id}}">
      {{> ticketSidebar}}
    </div>
    <div class="col-md-9 ticket-note-area">
      <label for="title">Title:</label>
      <blockquote>
        <strong>
          {{title}}
        </strong>
      </blockquote>
      <label for="body">Body:</label>
      <blockquote>
        {{#each bodyParagraph}}
          <p>{{this}}</p>
        {{/each}}
      </blockquote>

      <div class="hidden-xs col-md-12">
        <table class="table table-default">
          <tbody>
            {{#if formFields}}
              {{> formFieldsPanel}}
            {{/if}}
          </tbody>
        </table>
      </div>

      {{> ticketNoteArea}}
    </div>
  {{/with}}
</template>
