<template name="formFieldsPanel">
  <div class="hidden-xs col-md-12">
    <div class="panel panel-success more-info-panel">
      <div class="panel-heading">
        {{#if collapsed}}
          <span name="details-glyph" class="glyphicon glyphicon-chevron-right"></span>&nbsp;
          <a data-toggle="collapse" href="#info-panel-{{_id}}"><strong><span name="details">Show Details</span></strong></a>
          {{else}}
          <span name="details-glyph" class="glyphicon glyphicon-chevron-down"></span>&nbsp;
          <a data-toggle="collapse" href="#info-panel-{{_id}}"><strong><span name="details">Hide Details</span></strong></a>
        {{/if}}
      </div>
      <div id="info-panel-{{_id}}" class="panel-collapse collapse">
        <div id="panel-body">
          <table class="table table-default">
            <tbody>
              {{#each arrayify formFields}}
                <tr>
                  <td class="col-xs-2 col-md-2"><strong>{{name}}</strong></td>
                  <td class="col-xs-10 col-md-10">{{value}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="ticketNoteArea">
  <div class="panel panel-default">
    <div class="panel-body">
      {{#each changelog.items}}
        {{> ticketChangelogItem}}
      {{/each}}
      {{> ticketNoteInput queueMember=queueMember ticketId=_id}}
    </div>
  </div>
</template>

<template name="ticketChangelogItem">
  {{#if note}}
    <div class="row">
      <div class="col-xs-4 col-md-2">
        <label for="note-{{_id}}" class="control-label pull-right">
          {{#if authorId}}
            {{> userPortrait userId=authorId}}
            {{else}}
            {{authorEmail}} (via e-mail)
          {{/if}}
          <small style="font-size: 0.7em; font-weight: lighter;">{{>timeFromNow date=timestamp}}</small>
        </label>
      </div>
      <div class="col-xs-8 col-md-10">
        <div class="well well-sm note-well {{internalNoteClass}}" style="text-align: left;">
          {{#each noteParagraph}}
            <p>{{linkify this}}</p>
          {{/each}}
          {{#if internal}}<span class="glyphicon glyphicon-lock pull-right" title="This note is only visible to queue members."></span>{{/if}}
        </div>
        </div>
      </div>
      {{else}}
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4 col-md-10 col-md-offset-2">
          {{#if changeIsType 'attachment'}}
            {{#with otherId}}
              {{#if file.thumbnail}}
                <a href="/file/{{file.filenameOnDisk}}" target="_blank">
                  <img class="img-thumbnail" style="max-width: 100%; max-height: 128px" src="/file/{{file.thumbnail}}"/><br/>
                </a>
              {{/if}}
            {{/with}}
          {{/if}}
          <small style="font-size: 0.7em;">
            {{#if changeIsType 'attachment'}}
              {{#if oldValue}}
                User {{authorName}} removed attached file {{oldValue}}
              {{/if}}
              {{#if newValue}}
                User {{authorName}} attached file {{newValue}}
              {{/if}}
            {{/if}}
            {{#if changeIsType 'field'}}
              {{#if fieldIs 'status'}}
                User {{authorName}} changed status from {{oldValue}} to {{newValue}}
              {{/if}}

              {{#if fieldIs 'tags'}}
                {{#if oldValue}}
                  User {{authorName}} removed tag(s) {{oldValue}}
                {{/if}}
                {{#if newValue}}
                  User {{authorName}} added tag(s) {{newValue}}
                {{/if}}
              {{/if}}

              {{#if fieldIs 'associatedUserIds'}}
                {{#if oldValue}}
                  User {{authorName}} removed associated user(s) {{oldValue}}
                {{/if}}
                {{#if newValue}}
                  User {{authorName}} associated user(s) {{newValue}}
                {{/if}}
              {{/if}}
            {{/if}}
            @ {{timestamp}}
          </small>
        </div>
      </div>
    {{/if}}
</template>

<template name="ticketInfoPanels">
  <!-- Assigned User Panel --> 
  <div name="associatedUsers" class="panel panel-default">
    <div class="panel-heading">Assigned Users</div>
    <div class="panel-body">
      {{#if queueMember}}
        <div class="assign-user-field">
          <span class="icon glyphicon glyphicon-plus"></span>
          {{>inputAutocomplete settings=userSettings name="assignUser" placeholder="Assign User" data-toggle="tooltip" data-trigger="manual" title="User not found."}}
        </div>
      {{/if}}
      {{#each associatedUserIds}}
        {{> userPortrait userId=this associated=true}}
      {{/each}}
    </div>
  </div>

  <!-- Tag Panel -->
  <div name="tags" class="panel panel-default">
    <div class="panel-heading">Tags</div>
    <div class="panel-body">
      {{#if queueMember}}
        <div class="add-tag-field">
          <span class="icon glyphicon glyphicon-plus"></span>
          {{>inputAutocomplete settings=tagSettings name="addTag" placeholder="Add a tag"}}
        </div> 
        {{#each tags}}
          {{> ticketTag}}
        {{/each}}
        {{else}}
        {{#each tags}}
          {{this}}
        {{/each}}
      {{/if}}
    </div>
  </div>

  <!-- Attachments Panel -->
  <div name="attachments" class="panel panel-default">
    <div class="panel-heading">Attachments</div>
    <div class="panel-body">
      <div class="btn-group">
        <button type="button" class="add-attachment-btn btn dropdown-toggle" data-toggle="dropdown" aria-expanded="False">
          <span class="icon glyphicon glyphicon-plus"></span>
        </button>

        <ul class="dropdown-menu" data-toggle="dropdown">
          <li><a data-action="uploadFile">Upload File</a></li>
          {{#if isCordova}}<li><a data-action="takePicture">Take Picture</a></li>{{/if}}
        </ul>
      </div>

      {{#each attachmentIds}}
        <div class="attachment">
          <div class="attachment-link">
            {{#if file.thumbnail}}
              <img class="img-thumbnail" style="max-width: 64px; max-height:24px;" src="/file/{{file.thumbnail}}" />
            {{/if}}
            <a data-action="downloadAttachment" href="/file/{{file.filenameOnDisk}}" target="_blank">{{file.filename}}</a><br />
          </div>
          <div class="remove-attachment">
            <a href="#" data-action="removeAttachment">Remove</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="ticketNoteInput">
  <div class="row ticket-note-input-area">
    <div class="col-xs-12 col-md-10 col-md-offset-2">
      {{#if queueMember}}
        {{# textareaAutocomplete name="newNoteAdmin" class='form-control' placeholder="Add a new note..." settings=tokenSettings data-ticket=_id }} {{/textareaAutocomplete}}
        {{else}}
        <textarea class="form-control" placeholder="Add a new note..." name="newNote" data-ticket="{{_id}}"></textarea>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="note-input-buttons col-md-10 col-md-offset-2 col-xs-12">
      {{#if queueMember}}
        <div class="status-button pull-left">
          <div class="dropdown" data-ticket="{{_id}}" style="display: inline-block;">
            <button class="btn btn-default btn-responsive dropdown-toggle" type="button" data-toggle="dropdown" name="statusButton" aria-expanded="false">{{status}}<span class="caret dropdown-toggle"></span></button>
            <ul class="dropdown-menu" name="statusMenu" role="menu" aria-labelledby="ticketStatusDropdown">
              <li role="presentation"><a role="menuitem" tabindex="-1">Open</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1">Closed</a></li>
              <li role="presentation" class="ticket-status-input">{{> inputAutocomplete name="customStatus" placeholder="Or a custom status" settings=statusSettings}}</li>
            </ul>
          </div>
        </div>
      {{/if}}
      <div class="input-buttons pull-right">
        {{#if queueMember}}
          {{#if closed}}
            <button class="btn btn-responsive btn-default" name="addNoteAndReOpen">Re-Open Ticket</button>
            {{else}}
            {{#if beta}}
              <button class="btn btn-responsive btn-default" name="closeSilently" title="Close ticket without sending any emails.">Close Ticket Silently</button>
            {{/if}}
            <button class="btn btn-responsive btn-default" name="addNoteAndClose">Close Ticket</button>
          {{/if}}
          <button class="btn btn-responsive btn-default" name="addInternalNote">Add Internal Note</button>
          <button class="btn btn-responsive btn-success" name="addNoteAdmin">Add Note</button>
          {{else}}
          <button class="btn btn-responsive btn-success" name="addNote">Add Note</button>
        {{/if}}

      </div>
    </div>
  </div>
</template>

<template name="ticketTag">
<div class="tag">
  <div class="tag-link">
    <a href="#" data-action="addTagFilter">{{this}}</a>
  </div>
  <div class="remove-tag">
    <a href="#" data-action="removeTag">Remove</a>
  </div>
</div>
</template>

<template name="ticketHeadingPanels">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="pull-left">
        <div class="user-panel-portrait">{{> userPortrait userId=author._id}}</div>
        <div class="user-panel-info">
          {{author.displayName}}<br>
          {{author.mail}}<br>
          {{author.department}}<br>
          {{author.physicalDeliveryOfficeName}}<br>
        </div>
      </div>
      <div class="pull-right hidden-xs">
        <a href="/ticket/{{ticketNumber}}" name="ticketLink">Ticket #{{ticketNumber}}</a><br>
        <strong>{{queueName}}</strong><br>
        {{>timestampFormatter date=submittedTimestamp}}<br>
        ({{>timeFromNow date=submittedTimestamp}})
      </div>
    </div>
  </div>
  <div class="panel panel-default hidden-sm hidden-md hidden-lg">
    <div class="panel-body">
      <a href="/ticket/{{ticketNumber}}" name="ticketLink">Ticket #{{ticketNumber}}</a><br>
      <strong>{{queueName}}</strong><br>
      {{>timestampFormatter date=submittedTimestamp}}<br>
      ({{>timeFromNow date=submittedTimestamp}})
    </div>
  </div>
</template>

<template name="removeAttachmentModal">
  <div class="modal fade in" id="removeAttachmentModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Remove Attachment</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to remove attachment <strong>{{attachment.filename}}</strong> from ticket <strong>#{{ticket.ticketNumber}}</strong>? This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger pull-right" data-action="removeAttachment">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</template>
