<template name="ticket">
  {{#unless ticket}}
    No ticket found.
  {{/unless}}
  {{#with ticket}}
    <div class="col-md-3 ticket-sidebar" data-ticketId="{{_id}}">
      {{> ticketHeading}}
      {{> ticketInfoTable}}
    </div>
    <div class="col-md-9 ticket-note-area">
      <label for="title">Title:</label>
      <blockquote>
        <strong>
          {{title}}
        </strong>
      </blockquote>
      <label for="body">Body:</label>
      <blockquote>
        {{#each bodyParagraph}}
          <p>{{this}}</p>
        {{/each}}
      </blockquote>

      <div class="hidden-xs col-md-12">
        <table class="table table-default">
          <tbody>
            {{#each arrayify formFields}}
              <tr>
                <td class="col-xs-2 col-md-2"><strong>{{name}}</strong></td>
                <td class="col-xs-10 col-md-10">{{value}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{> changelogButtons}}
      {{#each changelog}}
        {{> ticketChangelogItem}}
      {{/each}}

      {{> ticketNoteInput queueMember=queueMember ticket=_id}}
    </div>
  {{/with}}
</template>
