#board {
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.status-column {
  display: inline-block;
  vertical-align: top;
  padding-top: 0px;
  margin-right: 10px;
  flex: 1;
  max-width: 500px;
}

.status-column-header {
  margin-top: 10px;
  text-align: center;
}

.status-column-sort-area {
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px 5px 30px 5px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}

.ticket-card {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #fff;
}

.ticket-card-header {
  background-color: #ccc;
  position: relative;
  cursor: move;
  padding: 0px 3px 0px 3px;
  height: 20px;
}

.ticket-card-header .ticket-card-header-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
}

.ticket-card-header .submitter-portrait {
  position: absolute;
  top: -3px;
  right: -3px;
}

.ticket-card-header .submitter-portrait img {
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #aaa;
  width: 25px;
  height: 25px;
}

.ticket-card-header .submitter-portrait .user-profile {
  position: absolute;
}

.ticket-card-header .submitter-portrait .user-info {
  top: 0px;
  left: 25px;
}

.ticket-card-body {
  cursor: pointer;
  padding: 5px;
  overflow: hidden;
}


