
.user-panel-portrait {
  float: left;
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.user-panel-info {
  display: inline-block;
  font-weight: bold;
}

.user-profile {
  display: inline-block;
  position: relative;
  color: #000;
}

.user-profile img {
  max-width: 96px;
  max-height: 40px;
}

.in-row img  {
  max-width: 36px;
  max-height: 24px;
}

.queue-user-image img {
  max-width: 40px;
  max-height: 28px;
}

.offline {
  opacity: 0.3;
}

.user-profile .user-info {
  position: absolute;
  display: block;
  text-align: left;
  border: 1px solid;
  left: 50%;
  z-index: 9999;
  top: 40px;
  width: 200px;
  font-size: .85em;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px 2px 4px;
  visibility: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.user-picture {
  display: inline-block;
}
.user-profile-info {
  font-size: .85em;
  display: inline-block;
}

.in-row .user-info {
  top: 24px;
}

.user-info .name {
  font-weight: bold;
}

.user-profile:hover .user-info {
  visibility: visible;
}
.user-profile {
  display: inline-block;
  position: relative;
  color: #000;
}

.user-profile img {
  max-width: 96px;
  max-height: 40px;
}

.in-row img  {
  max-width: 36px;
  max-height: 24px;
}

.queue-user-image img {
  max-width: 40px;
  max-height: 28px;
}

.offline {
  opacity: 0.3;
}

.user-profile .user-info {
  position: absolute;
  display: block;
  text-align: left;
  border: 1px solid;
  left: 50%;
  z-index: 9999;
  top: 40px;
  width: 200px;
  font-size: .85em;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px 2px 4px;
  visibility: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.user-picture {
  display: inline-block;
}
.user-profile-info {
  font-size: .85em;
  display: inline-block;
}

.in-row .user-info {
  top: 24px;
}

.user-info .name {
  font-weight: bold;
}

.user-profile:hover .user-info {
  visibility: visible;
}
.user-profile {
  display: inline-block;
  position: relative;
  color: #000;
}

.user-profile img {
  max-width: 96px;
  max-height: 40px;
}

.in-row img  {
  max-width: 36px;
  max-height: 24px;
}

.queue-user-image img {
  max-width: 40px;
  max-height: 28px;
}

.offline {
  opacity: 0.3;
}

.user-profile .user-info {
  position: absolute;
  display: block;
  text-align: left;
  border: 1px solid;
  left: 50%;
  z-index: 9999;
  top: 40px;
  width: 200px;
  font-size: .85em;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px 2px 4px;
  visibility: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.user-picture {
  display: inline-block;
}
.user-profile-info {
  font-size: .85em;
  display: inline-block;
}

.in-row .user-info {
  top: 24px;
}

.user-info .name {
  font-weight: bold;
}

.user-profile:hover .user-info {
  visibility: visible;
}
.user-profile {
  display: inline-block;
  position: relative;
  color: #000;
}

.user-profile img {
  max-width: 96px;
  max-height: 40px;
}

.in-row img  {
  max-width: 36px;
  max-height: 24px;
}

.queue-user-image img {
  max-width: 40px;
  max-height: 28px;
}

.offline {
  opacity: 0.3;
}

.user-profile .user-info {
  position: absolute;
  display: block;
  text-align: left;
  border: 1px solid;
  left: 50%;
  z-index: 9999;
  top: 40px;
  width: 200px;
  font-size: .85em;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px 2px 4px;
  visibility: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.user-picture {
  display: inline-block;
}
.user-profile-info {
  font-size: .85em;
  display: inline-block;
}

.in-row .user-info {
  top: 24px;
}

.user-info .name {
  font-weight: bold;
}

.user-profile:hover .user-info {
  visibility: visible;
}
