<template name="sendToAnotherQueueModal">
  <div class="modal fade" id="sendToAnotherQueueModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          Send to Another Queue
        </div>
        <div class="modal-body">
          {{originalTicket.title}}
          <div class="form-group">
            <label for="queueName" class="control-label">Queue:</label>
            <div>
              <select name="queue" class="form-control" data-placeholder="Select queue">
                {{#each queues}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="input-buttons pull-right">
            <button class="btn btn-responsive btn-default" name="cancel">Cancel</button>
            <button class="btn btn-responsive btn-primary" name="send">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

