<template name="ticket">
  {{#unless ticket}}
    No ticket found.
  {{/unless}}
  {{#with ticket}}

    <div class="row row-no-margin">
      {{> ticketHeadingPanels}}
    </div>

    <div class="row row-no-margin">
      <label for="title">Title:</label>
      <blockquote>
        <strong>
          {{linkify title}}
        </strong>
      </blockquote>
      <label for="body">Body:</label>
      <blockquote>
        {{#each bodyParagraph}}
          <p>{{linkify this}}</p>
        {{/each}}
      </blockquote>
    </div>

    {{#if formFields}}
      <div class="row">
        {{> formFieldsPanel}}
      </div>
    {{/if}}

    <div class="row">
      <div class="col-md-9 ticket-note-area">
        <div class="row row-no-margin">
          {{> ticketNoteArea}}
        </div>
      </div>
      <div class="col-md-3 ticket-sidebar">
        {{> ticketInfoPanels}}
      </div>
    </div>

  {{/with}}
</template>
