<template name="sidebar">
<div id="searchLabel">
  <label for="textSearch" class="control-label">Search:</label>  <a href="#" data-action="showHelp"><em>(help)</em></a>
  {{#if helpText}}
  <div class="help-text">
    <small>
      Use search to locate specific tickets by tag, text, users, or status. Examples:
      <ul>
        <li>@user</li>
        <li>#tag</li>
        <li>status:Closed</li>
        <li>status:"In Progress"</li>
        <li>Printer</li>
      </ul>
    </small>
  </div>
  {{/if}}
</div>
  {{>inputAutocomplete name="textSearch" class="form-control" settings=tokenSettings}}
  <ul class="list-unstyled">
    {{#each textFilter}}
    <li><a data-action="removeFilter" data-type="search" data-value="{{this}}"><span class="glyphicon glyphicon-remove"></span></a>search: {{this}}</li>
    {{/each}}
    {{#each userFilter}}
    <li><a data-action="removeFilter" data-type="user" data-value="{{this}}"><span class="glyphicon glyphicon-remove"></span></a>user: {{this}}</li>
    {{/each}}
  </ul>
<hr>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span name="statusCollapse" class="glyphicon glyphicon-chevron-down"></span> <a data-toggle="collapse" href='#statusCollapse'>Status</a>
    </h4>
  </div>
  <div id="statusCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      {{#each status}}
      <div class="checkbox">
        <label>
          <input type="checkbox" data-field="status" checked={{checked}}>{{name}} ({{count}})
        </label>
      </div>
      {{/each}}
      {{#unless filtering}}
      {{#with closed}}
      <div class="checkbox">
        <label>
          <input type="checkbox" data-field="status">{{name}} ({{count}})
        </label>
      </div>
      {{/with}}
      {{/unless}}
      {{#each zeroCountStatus}}
      <div class="checkbox">
        <label>
          <input type="checkbox" data-field="status" checked={{checked}}>{{name}} ({{count}})
        </label>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span name="tagCollapse" class="glyphicon glyphicon-chevron-down"></span> <a data-toggle="collapse" href='#tagCollapse'>Tag</a>
    </h4>
  </div>
  <div id="tagCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      {{#each tags}}
      <div class="checkbox">
        <label>
          <input type="checkbox" data-field="tag" checked={{checked}}>{{name}} ({{count}})
        </label>
      </div>
      {{/each}}
      {{#each zeroCountTags}}
      <div class="checkbox">
        <label>
          <input type="checkbox" data-field="tag" checked={{checked}}>{{name}} ({{count}})
        </label>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span name="userCollapse" class="glyphicon glyphicon-chevron-down"></span><a data-toggle="collapse" href="#userCollapse">Associated User</a>
    </h4>
  </div>
  <div id="userCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      {{#each associatedUsers}}
      <div class="checkbox">
        <label>
          <input type="checkbox" data-field="user" checked="{{checked}}">{{> userPortrait userId=name class="in-row"}} {{username}} ({{count}})
        </label>
      </div>
      {{/each}}
      {{#each zeroCountUsers}}
      <div class="checkbox">
        <label>
          <input type="checkbox" data-field="user" checked={{checked}}>{{username}} ({{count}})
        </label>
      </div>
      {{/each}}
    </div>
  </div>
</div>
</template>
