<template name="queuebar">
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#queueBar">
      <span class="sr-only">Toggle navigation</span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="queueBar">
    <ul class="nav navbar-nav">
      {{#each queue}}
        <li class="{{active}}">
          <a name="{{name}}" href="/queue/{{name}}">{{name}} 
            {{#if count}} <span class="label label-danger label-as-badge">{{count}} new</span>{{/if}}
          </a>
        </li>
      {{/each}}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#if queue}}
      <li class="{{globalClass}}"><a href="/all/tickets">Global</a></li>
      {{/if}}
      <li class="{{userClass}}"><a href="/my/tickets">My Queue</a></li>
    </ul>
  </div>

</div>
</nav>
</template>


