.time {
  display: inline;
}

.time .full-time {
  position: absolute;
  display: block;
  border: 1px solid;
  z-index: 9999;
  width: 13.8em;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px 2px 4px;
  visibility: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.time:hover .full-time {
  visibility: visible;
}

