<template name="ticketStats">
  {{#unless ready}}
    <div>
      Generating statistics... this may take a moment.
      {{> loading class="stats-loader"}}
    </div>
  {{/unless}}
  <div class="row">
    <div class="col-md-12">
      <strong>Tickets Closed/Submitted Over Time</strong>
      <div id="tickets-by-day">
      </div>
      <div id="closed-by-day">
      </div>
      <div id="volume-chart">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Tickets Submitted By Queue</strong>
      <div id="tickets-by-queue">
      </div>
    </div>
    <div class="col-md-6">
      <strong>Tickets Submitted By Department</strong>
      <div id="tickets-by-submitter-department">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="tickets-closed-by-user">
        <strong>Tickets Closed By User</strong>
      </div>
    </div>
    <div class="col-md-6">
      <div id="time-to-close-by-user">
        <strong>Average Time to Close by User</strong>
      </div>
    </div>
  </div>
</template>
