<template name="ticketRow">
  <tr data-toggle="collapse" class="accordion-toggle ticket-row" data-ticket="{{_id}}">
    <td class="hidden-xs hidden-print">
      <span class="badge" title="{{noteCount}} notes">{{noteCount}}</span>
      {{#if repliedTo}}
        <span class="glyphicon glyphicon-comment"></span>
      {{/if}}
      {{#if hasAttachment}}
        <span class="glyphicon glyphicon-paperclip"></span>
      {{/if}}
      {{#if unread}}
        <span class="glyphicon glyphicon-bell" style="color: red;"></span>
      {{/if}}
    </td>
    <td>
      <span class="hidden-print">{{title}}</span>
      <span class="visible-print-block">
        <strong>{{title}}</strong>
        {{#each printableFormFields}}
          <div>{{k}}: {{v}}</div>
        {{/each}}
      </span>
    </td>
    <td>
      <span class="hidden-print">
        <div class="ticket-requester-portrait">
          {{>userPortrait userId=this.authorId class="in-row"}}
        </div>
        {{authorName}}
      </span>
      <span class="visible-print-block">
        {{author.displayName}} ({{author.username}})<br>
        {{author.mail}}<br>
        {{author.department}}<br>
        {{author.physicalDeliveryOfficeName}}<br>
      </span>
    </td>
    <td>
      {{#each associatedUserIds}}
        {{>userPortrait userId=this associated=true class="in-row"}}
      {{/each}}
    </td>
    <td>
      {{#if queueMember}}
        <div class="dropdown" data-ticket="{{_id}}">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" name="statusButton" aria-expanded="false">{{status}}<span class="caret dropdown-toggle"></span></button>
          <ul class="dropdown-menu" name="statusMenu" role="menu" aria-labelledby="ticketStatusDropdown">
            <li role="presentation"><a role="menuitem" tabindex="-1">Open</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1">Closed</a></li>
            <li role="presentation" class="ticket-status-input">{{> inputAutocomplete name="customStatus" placeholder="Or a custom status" settings=statusSettings}}</li>
          </ul>
        </div>
        {{else}}
        {{status}}
      {{/if}}
    </td>
    <td class="hidden-xs">{{>timeFromNow date=submittedTimestamp}}</td>
  </tr>
</template>
