<template name="sidebar">
<label for="textSearch" class="control-label">Search:</label>
<input type="text" name="textSearch" class="form-control">
<ul class="list-unstyled animated">
  {{#each search}}
  <li class="fade"><a data-action="removeFilter" data-value="{{this}}"><span class="glyphicon glyphicon-remove"></span></a>search: {{this}}</li>
  {{/each}}
</ul>
<hr>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href='#tagCollapse'>Tag</a>
    </h4>
  </div>
  <div id="tagCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      {{#each tags}}
      <div class="checkbox">
        <label>
          <input type="checkbox" name="tag" data-tag="{{name}}" {{checkedTag}}>{{name}} ({{count}})
        </label>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href='#statusCollapse'>Status</a>
    </h4>
  </div>
  <div id="statusCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      {{#each status}}
      <div class="checkbox">
        <label>
          <input type="checkbox" name="status" data-status="{{name}}" {{checkedStatus}}>{{name}} ({{count}})<br>
        </label>
      </div>
      {{/each}}
    </div>
  </div>
</div>
</template>

