<template name="userDashboard">
<div class="col-md-8 col-md-offset-2">
  <h4>Preferences</h4>
  <hr>
  <div class="form-group">
    <label for="defaultQueue" class="control-label">Default Queue:</label>
    <select class="form-control" name="defaultQueue">
      {{#each queue}}
      <option {{selected}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="shareTicketsWith" class="control-label">Share Access To My Tickets With:</label>
    {{#each user.shareTicketsWithUserIds}}
      <p>
        <a href="#" data-action="removeSharedWithUser" data-userId="{{this}}"><span class="glyphicon glyphicon-remove" style="color: red;"></span></a>
        {{> userPortrait userId=this class="in-row"}} {{name}}
      </p>
    {{/each}}
    <div class="input-group col-md-6 col-xs-12">
      {{> inputAutocomplete settings=userSettingsBottom name="newSharedWithUser" class="form-control" data-toggle="tooltip" title="User not found." data-trigger="manual"}}
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary" data-action="addSharedWithUser">Add</button>
      </span>
    </div>
  </div>
  {{#with notificationSettings}}
    <div class="form-group">
      <label for="authorPreferences" class="control-label">If I am the author of a ticket, notify me when:</label>
      {{>settingsCheckbox name="submitted" option="I submit the ticket" setting=submitted}}
      {{>settingsCheckbox name="authorSelfNote" option="I leave a note on the ticket" setting=authorSelfNote}}
      {{>settingsCheckbox name="authorOtherNote" option="Someone else leaves a note on the ticket" setting=authorOtherNote}}
      {{>settingsCheckbox name="authorStatusChanged" option="The status of the ticket changes" setting=authorStatusChanged}}
      {{>settingsCheckbox name="authorAttachment" option="An attachment is added to the ticket" setting=authorAttachment}}
    </div>
    <div class="form-group">
      <label for="associatedPreferences" class="control-label">If I am associated with a ticket, notify me when:</label>
      {{>settingsCheckbox name="associatedSelfNote" option="I leave a note on the ticket" setting=associatedSelfNote}}
      {{>settingsCheckbox name="associatedOtherNote" option="Someone else leaves a note on the ticket" setting=associatedOtherNote}}
      {{>settingsCheckbox name="associatedStatusChanged" option="The status of the ticket changes" setting=associatedStatusChanged}}
      {{>settingsCheckbox name="associatedAttachment" option="An attachment is added to the ticket" setting=associatedAttachment}}
    </div>
    <div class="form-group">
      <label for="otherPreferences" class="control-label">Other Settings</label>
      {{> settingsCheckbox name="associatedWithTicket" option="Notify me when I am associated with a ticket" setting=associatedWithTicket}}
    </div>
  {{/with}}
  <div id="saved-message" class="pull-right">
    {{#if saved}}
      <span class="saved-preferences">Preferences saved. </span>
    {{/if}}
    <button type="button" class="btn btn-primary pull-right" data-action="submit">Save</button>
  </div>
</div>
</template>

<template name="settingsCheckbox">
<div class="checkbox">
  <label><input type="checkbox" value="" name="{{name}}" {{checked}}>
    {{option}}
  </label>
</div>
</template>
