<template name="userDashboard">
<div class="col-md-8 col-md-offset-2">
  <h4>Preferences</h4>
  <hr>
  <div class="form-group">
    <label for="defaultQueue" class="control-label">Default Queue:</label>
    <select class="form-control" name="defaultQueue">
      {{#each queue}}
      <option {{selected}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="authorPreferences" class="control-label">If I am the author of a ticket, notify me when:</label>
    {{>settingsCheckbox name="submitted" option="I submit the ticket" setting=notificationSettings.submitted}}
    {{>settingsCheckbox name="authorSelfNote" option="I leave a note on the ticket" setting=notificationSettings.authorSelfNote}}
    {{>settingsCheckbox name="authorOtherNote" option="Someone else leaves a note on the ticket" setting=notificationSettings.authorOtherNote}}
    {{>settingsCheckbox name="authorStatusChanged" option="The status of the ticket changes" setting=notificationSettings.authorStatusChanged}}
    {{>settingsCheckbox name="authorAttachment" option="An attachment is added to the ticket" setting=notificationSettings.authorAttachment}}
  </div>
  <div class="form-group">
    <label for="associatedPreferences" class="control-label">If I am associated with a ticket, notify me when:</label>
    {{>settingsCheckbox name="associatedSelfNote" option="I leave a note on the ticket" setting=notificationSettings.associatedSelfNote}}
    {{>settingsCheckbox name="associatedOtherNote" option="Someone else leaves a note on the ticket" setting=notificationSettings.associatedOtherNote}}
    {{>settingsCheckbox name="associatedStatusChanged" option="The status of the ticket changes" setting=notificationSettings.associatedStatusChanged}}
    {{>settingsCheckbox name="associatedAttachment" option="An attachment is added to the ticket" setting=notificationSettings.associatedAttachment}}
  </div>
  <div id="savedMessage" class="pull-right">
    {{#if saved}}
      <span class="saved-preferences">Preferences saved. </span>
    {{/if}}
    <button type="button" class="btn btn-primary pull-right" data-action="submit">Save</button>
  </div>
</div>
</template>

<template name="settingsCheckbox">
<div class="checkbox">
  <label><input type="checkbox" value="" name="{{name}}" {{checked}}>
    {{option}}
  </label>
</div>
</template>
