<template name="queuebar">
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#queueBar">
      <span class="sr-only">Toggle navigation</span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="queueBar">
    <ul class="nav navbar-nav">
      {{#each queue}}
      <li class="{{active}}"><a href="/queue/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>

</div>
</nav>
</template>


