<template name="ticketRow">
<tr data-toggle="collapse" data-target="#row{{_id}}" class="accordion-toggle">
  <td>
    <span class="glyphicon glyphicon-plus" name="{{_id}}"></span>
    {{#if repliedTo}}
    <span class="glyphicon glyphicon-flag"></span>
    {{/if}}
  </td>
  <td>{{title}}</td>
  <td>{{authorId}}</td>
  <td>{{status}}</td>
  <td>{{>dateFormatter date=submittedTimestamp}}</td>
</tr>
<tr>
  <td colspan='5' class="hiddenRow">
    <div class="accordion-body collapse" id="row{{_id}}" name="{{_id}}">
      <form class="form-horizontal" name="ticketForm">
        <div class="form-group">
          <label for="showAllFields" class="control-label col-xs-4 col-md-1">More Fields:</label>
          <div class="col-xs-8 col-md-11">
            <button type="button" class="btn btn-sm btn-primary pull-left" data-action="showAllFields">{{#unless allFields}}Show{{else}}Hide{{/unless}}</button>
          </div>
        </div>
        {{#if allFields}}
          {{#each arrayify formFields}}
            {{>tableFormGroup name=name value=value disabled="disabled"}}
          {{/each}}
        {{/if}}
        <div class="form-group">
          <label for="body" class="control-label col-xs-4 col-md-1">Ticket Body:</label>
          <div class="col-xs-8 col-md-11">
            <textarea class="form-control" rows="5" name="body" value="{{body}}" disabled></textarea>
          </div>
        </div>
        {{#each notes}}
        <div class="form-group">
          <div class="col-xs-4 col-md-1">
            <label for="note-{{_id}}" class="control-label">
              {{authorName}}:<br>
              <small class="pull-right" style="font-size: 0.8em">{{>timeParser date=timestamp}}</small>
            </label>
          </div>
          <div class="col-xs-8 col-md-11">
            <textarea class="form-control" name="note-{{_id}}" value="{{message}}" disabled></textarea>
          </div>
        </div>
        {{/each}}
        <div class="form-group">
          <div class="col-xs-8 col-xs-offset-4 col-md-11 col-md-offset-1">
            <input class="form-control" name="newNote" placeholder="Add a new note...">
          </div>
        </div>
      </form>
    </div>
  </td>
</tr>
</template>
